# Importing Oystein's recorded room temperatures

In [9]:
import pandas as pd
from IPython.display import display

file_df = pd.read_excel("OysteinsRoom-230210-2333.xlsx")
display(file_df)

,id,createAt,payload,RIGHT,LEFT,temperature,ON/OFF
0,message_75fadf50-7cb9-435f-a356-f1dd0f355f9a,2023-02-10 10:19:17:945,"{""temperature"":{""id"":1,""txt"":""temperature"",""t""...",20.5}},20.5,20.5,ON
1,message_d3af4c36-f6a7-4a81-9436-c15950b0471e,2023-02-10 10:20:17:950,"{""temperature"":{""id"":1,""txt"":""temperature"",""t""...",20.5}},20.5,20.5,ON
2,message_45c7df3e-02b4-48a5-af47-9d327bfa51cd,2023-02-10 10:21:17:955,"{""temperature"":{""id"":1,""txt"":""temperature"",""t""...",20.5}},20.5,20.5,ON
3,message_a8fa07e5-a32d-41b4-bcf5-1ca304d656fc,2023-02-10 10:22:17:950,"{""temperature"":{""id"":1,""txt"":""temperature"",""t""...",20.5}},20.5,20.5,ON
4,message_1b260b86-0884-4bde-b5bb-2248f96ef68d,2023-02-10 10:23:17:950,"{""temperature"":{""id"":1,""txt"":""temperature"",""t""...",20.5}},20.5,20.5,ON
...,...,...,...,...,...,...,...
791,message_5bffa05d-3726-4bb1-954f-514a56260b35,2023-02-10 23:29:16:999,"{""temperature"":{""id"":1,""txt"":""temperature"",""t""...",19.2}},19.2,19.2,ON
792,message_32540447-1e3e-44b9-9893-b00d0f58c64e,2023-02-10 23:30:17:002,"{""temperature"":{""id"":1,""txt"":""temperature"",""t""...",19.2}},19.2,19.2,ON
793,message_9f203e0c-0070-461e-ba7d-7516eb27e205,2023-02-10 23:31:16:985,"{""temperature"":{""id"":1,""txt"":""temperature"",""t""...",19.1}},19.1,19.1,ON
794,message_80c1032f-3afc-4368-aab2-cd0432f4f827,2023-02-10 23:32:16:978,"{""temperature"":{""id"":1,""txt"":""temperature"",""t""...",19.1}},19.1,19.1,ON
795,message_b1cd742d-91d9-4e0d-878c-7314baa3abc8,2023-02-10 23:33:16:975,"{""temperature"":{""id"":1,""txt"":""temperature"",""t""...",19.1}},19.1,19.1,ON